Repository fga-eps-mds/2024.2-LIVRO-LIVRE-DOC, pull requests merged in 2024-12, with the labels that each got.

#39 feat:update lean_inception.md and imageslean Visao do Produto
  docs/lean-inception/imagenslean/leanVisaoDoProduto1.png
  docs/lean-inception/imagenslean/leanVisaoDoProduto2.png
  docs/lean-inception/lean_inception.md
Labels: DOCS

#64 documentation: add others Atas
  docs/Atas-de-Reunião/Ata_1.md
  docs/Atas-de-Reunião/Ata_2.md
  docs/Atas-de-Reunião/Ata_4.md
  docs/Atas-de-Reunião/Ata_6.md
  docs/Atas-de-Reunião/Ata_7.md
Labels: DOCS

#79 17 sequenciador
  docs/lean-inception/imagenslean/sequenciador.png
  docs/lean-inception/lean_inception.md
Labels: DOCS, Lean Inception

#80 docs: create persona document
  docs/lean-inception/imagenslean/persona1.png
  docs/lean-inception/imagenslean/persona2.png
  docs/lean-inception/imagenslean/persona3.png
  docs/lean-inception/imagenslean/persona4.png
  docs/lean-inception/imagenslean/persona5.png
  docs/lean-inception/lean_inception.md
Labels: DOCS, Lean Inception

#81 docs: create brainstorming document
  docs/lean-inception/imagenslean/brainstorming.jpeg
  docs/lean-inception/lean_inception.md
Labels: DOCS, Lean Inception

#82 13 revisao tecnica ux
  docs/lean-inception/imagenslean/revisao_tecnica.png
  docs/lean-inception/lean_inception.md
Labels: DOCS, Lean Inception

#91 docs: create document plano de risco
  docs/planejamento/plano-de-riscos.md
Labels: DOCS, MDS

#86 feat: create doc kickoff
  analytics-raw-data/GitHub_API-Issues-fga-eps-mds-2024.2-LIVRO-LIVRE-DOC.json
  docs/lean-inception/imagenslean/lean_kickoff.jpeg
  docs/lean-inception/kick-off.md
  docs/lean-inception/lean-inception.md
Labels: DOCS, MDS

#93 Doc: update 'custos' with google sheets information
  docs/planejamento/plano-de-custos.md
Labels: DOCS, ACCEPTED

#94 feat: create arquitetura document
  docs/gestao-do-projeto/arquitetura.md
  docs/gestao-do-projeto/imagensgestao/UML.jpeg
  docs/gestao-do-projeto/imagensgestao/conceitual.jpg
  docs/gestao-do-projeto/imagensgestao/contexto.jpg
  docs/gestao-do-projeto/imagensgestao/logico.jpg
  docs/gestao-do-projeto/imagensgestao/pacotes.jpg
Labels: DOCS, ACCEPTED

#95 27 backlog
  docs/gestao-do-projeto/backlog.md
Labels: DOCS
