Repository fga-eps-mds/2024.2-LIVRO-LIVRE-DOC, pull requests merged in 2024-11, with the labels that each got.

#37 Documentação Jornada de Usuário
  docs/lean-inception/imagenslean/leanJornada1.png
  docs/lean-inception/imagenslean/leanJornada2.png
  docs/lean-inception/imagenslean/leanJornada3.png
  docs/lean-inception/lean_inception.md
  yarn.lock
Labels: DOCS, MDS

#38 feat:update lean_inseption and imagenslean
  docs/lean-inception/imagenslean/lean_objetivos_do_produto.png
  docs/lean-inception/lean_inception.md
Labels: Epic, DOCS

#63 documantation: Create Atas de reunião
  docs/Atas-de-Reunião/ata-reunião_27_11_2024.md
Labels: DOCS
